<h1>Burgers!</h1>

<h2>Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="burger">Burger Name:</label>
    <input type="text" id="burger" name="name">
  </div>

  <div class="form-group">
    <label for="devoured">Eat?</label><br>
    <input type="radio" name="devoured" value="1" checked> Eat!<br>
    <input type="radio" name="devoured" value="0"> Hungry!
  </div>

  <button type="submit">Add Burger</button>
</form>